# Ignore .git folder
.git*
.gitignore

dist*

.devcontainer
.github
.idea
.vscode
debug
__debug_bin
hack

# ipsw files
*.ipsw
*.zip
*.im4p
kernelcache.*
dyld_shared_cache*
*_Restore
*.plist
public
System
usr

.DS_Store
.goreleaser.yml
LICENSE
Makefile
README.md
appveyor.yml

# Repo
*.bu
dist/
test-caches/
pkg/info/data
pkg/dyld/slide_info.txt

*.download
checksums.txt.sha1
