# Ignore .git folder
.git*
.gitignore

.devcontainer
.idea
.vscode

dist
test-caches
public
resources

*.ipsw
*.ipsw.download
kernelcache.release.*
dyld_shared_cache*

System*
usr*

debug
*.im4p
.DS_Store
.idea
*.bu
public
System
usr
*.bndb
