# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# IDE
.idea
.vscode
debug
__debug_bin

# ipsw files
*.ipsw
*.zip
*.im4p
kernelcache.*
dyld_shared_cache*
*_Restore
System
usr
*.xz
*.bin
*.s
.DS_Store
*.dmg

# Repo
*.bu
dist/
test-caches/
completions/
*.txt
*.prof
*.download
checksums.txt.sha1

# Docs
public

*.unstripped
*.bndb
*.lock

# Unicorn EMU
unicorn2/