# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.a

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# IDE
.idea
# glob to include things like .vscode-ctags
.vscode*
debug
__debug_*

# ipsw files
*.ipsw
*.zip
*.im4p
*_Restore
usr
*.xz
*.bin
*.s
.DS_Store
*.dmg

# Repo
*.bu
dist/
test-caches/
completions/
manpages/
*.txt
*.swift
*.prof
*.download
checksums.txt.sha1

# Docs
public
site/
www/docs/static/releases*.json

# Other
*.unstripped
*.bndb
*.lock
internal/commands/ida/dscu/data/dscu.py
venv/

# Unicorn EMU
unicorn2/

# 🤫
cmd/ipsw/cmd/kernel/kernel_sbdec.go
cmd/ipsw/cmd/kernel/kernel_sbopts.go
cmd/ipsw/cmd/kernel/kernel_libsandbox.go
pkg/sandbox/
