# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.a

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# IDE
.idea
.vscode
debug
__debug_bin

# ipsw files
*.ipsw
*.zip
*.im4p
*_Restore
System
usr
*.xz
*.bin
*.s
.DS_Store
*.dmg

# Repo
*.bu
dist/
test-caches/
completions/
manpages/
*.txt
*.prof
*.download
checksums.txt.sha1

# Docs
public
site/
www/docs/static/releases*.json

# Other
*.unstripped
*.bndb
*.lock

# Unicorn EMU
unicorn2/

# 🤫
cmd/ipsw/cmd/kernel/kernel_sbdec.go
cmd/ipsw/cmd/kernel/kernel_sbopts.go
cmd/ipsw/cmd/kernel/kernel_libsandbox.go
pkg/sandbox/
