:root {
    --docsearch-primary-color: var(--ifm-color-primary) !important;
}

html[data-theme='dark'] {
    --docsearch-modal-container-background: rgba(23, 23, 23, 0.8) !important;
    --docsearch-searchbox-background: var(--ifm-card-background-color) !important;
    --docsearch-searchbox-focus-background: var(--ifm-card-background-color) !important;

    --docsearch-key-gradient: linear-gradient(-26.5deg,
            rgb(113, 114, 122) 0%,
            rgb(70, 72, 90) 100%) !important;
    --docsearch-key-shadow: inset 0 -2px 0 0 rgb(62, 62, 67),
        inset 0 0 1px 1px rgb(104, 106, 120), 0 2px 2px 0 rgba(0, 0, 0, 0.3) !important;

    --docsearch-modal-background: var(--ifm-card-background-color) !important;
    --docsearch-footer-background: var(--ifm-card-background-color) !important;
    --docsearch-hit-background: var(--ifm-background-color) !important;
}

html[data-theme='dark'] .docsearch-btn-key {
    color: #b4b4b4 !important;
}

html[data-theme='dark'] .docsearch-modal-search-hits-item--active,
html[data-theme='dark'] .docsearch-modal-search-hits-item--active .docsearch-modal-search-hits-item--highlight,
html[data-theme='dark'] .docsearch-modal-search-hits-item--highlight:hover,
html[data-theme='dark'] .docsearch-modal-search-hits-item--highlight:active,
html[data-theme='dark'] .docsearch-modal-search-hits-item--highlight:focus {
    color: #1f1f1f !important;
}