name: Go
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  # download:
  #   runs-on: macos-12
  #   steps:
  #     - name: Cache beta IPSW
  #       id: cache-beta-ipsw
  #       uses: actions/cache@v3
  #       with:
  #         path: |
  #           ~/beta
  #         key: beta-ipsw
  #     - name: Download beta IPSW
  #       if: steps.cache-beta-ipsw.outputs.cache-hit != 'true'
  #       run: |
  #         mkdir ~/beta
  #         wget -O ~/beta/beta.ipsw https://archive.org/download/iPhone142_16.0_20A5283p_Restore.ipsw/iPhone142_16.0_20A5283p_Restore.ipsw
  #     - name: Upload beta IPSW
  #       uses: actions/upload-artifact@v3
  #       with:
  #         name: beta-ipsw
  #         path: ~/beta/beta.ipsw
  build:
    strategy:
      matrix:
        platform: [ubuntu-latest, macos-12, windows-latest]

    runs-on: ${{ matrix.platform }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.19

      - name: Set output
        id: vars
        run: echo ::set-output name=tag::${GITHUB_REF#refs/*/}

      - name: Build Dependencies (macOS)
        if: matrix.platform == 'macos-12'
        run: |
          brew install tree

      #
      # CACHE
      #
      # - name: Cache beta IPSW
      #   id: cache-beta-ipsw
      #   if: matrix.platform == 'macos-12'
      #   uses: actions/cache@v3
      #   with:
      #     path: |
      #       ~/beta
      #     key: beta-ipsw
      # - name: Download beta IPSW from Artifacts
      #   if: matrix.platform == 'macos-12' && steps.cache-beta-ipsw.outputs.cache-hit != 'true'
      #   uses: actions/download-artifact@v3
      #   with:
      #     name: beta-ipsw
      #     path: ~/beta/beta.ipsw
      # - name: Cache Downloaded IPSWs
      #   id: cache-ipsws
      #   if: matrix.platform == 'macos-12'
      #   uses: actions/cache@v2
      #   with:
      #     path: ~/.ipsw
      #     key: ${{ runner.os }}-${{ hashFiles('**/*.ipsw') }}
      - name: Cache go.mod (macOS)
        if: matrix.platform == 'macos-12'
        uses: actions/cache@v3
        with:
          path: |
            ~/Library/Caches/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-
      - name: Cache go.mod (Linux)
        if: matrix.platform == 'ubuntu-latest'
        uses: actions/cache@v3
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-
      - name: Cache go.mod (Windows)
        if: matrix.platform == 'windows-latest'
        uses: actions/cache@v3
        with:
          path: |
            ~\AppData\Local\go-build
            ~\go\pkg\mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      #
      # BUILD
      #
      - name: Get dependencies
        run: |
          go mod download
      - name: Deps (Linux)
        if: matrix.platform == 'ubuntu-latest'
        run: |
          sudo apt-get -yq install libusb-dev
      - name: Build (Linux)
        if: matrix.platform == 'ubuntu-latest'
        run: |
          CGO_ENABLED=1 go build -o build/dist/ipsw -ldflags "-s -w -X github.com/blacktop/ipsw/cmd/ipsw/cmd.AppVersion="v1.0.0" -X github.com/blacktop/ipsw/cmd/ipsw/cmd.AppBuildTime==$(date -u +%Y%m%d)" ./cmd/ipsw

      - name: Build (macOS)
        if: matrix.platform == 'macos-12'
        run: sudo CGO_ENABLED=1 go build -o build/dist/ipsw -ldflags "-s -w -X github.com/blacktop/ipsw/cmd/ipsw/cmd.AppVersion="v1.0.0" -X github.com/blacktop/ipsw/cmd/ipsw/cmd.AppBuildTime==$(date -u +%Y%m%d)" ./cmd/ipsw

      - name: Build (Windows)
        if: matrix.platform == 'windows-latest'
        env:
          CGO_LDFLAGS: -LD:\a\ipsw\ipsw\lzfse\build\Debug
          RELEASE_VERSION: ${{ steps.vars.outputs.tag }}
        run: |
          go build -o build/dist/ipsw.exe -ldflags "-linkmode external -extldflags -static" ./cmd/ipsw
          dir build/dist
          dir

      #
      # (Windows)
      #
      - name: Run Device List (Windows)
        if: matrix.platform == 'windows-latest'
        run: D:\a\ipsw\ipsw\build\dist\ipsw.exe device-list

      - name: Run Extract Remote Kernelcache (Windows)
        if: matrix.platform == 'windows-latest'
        run: |
          D:\a\ipsw\ipsw\build\dist\ipsw.exe -V download ipsw --kernel --latest -d iPhone12,1 --insecure
          dir

      #
      # (Unix)
      #
      - name: Run Device List
        if: matrix.platform == 'ubuntu-latest' || matrix.platform == 'macos-12'
        run: LD_LIBRARY_PATH=/usr/local/lib build/dist/ipsw device-list

      - id: get-latest
        if: matrix.platform == 'ubuntu-latest' || matrix.platform == 'macos-12'
        run: |
          echo ::set-output name=version::$(LD_LIBRARY_PATH=/usr/local/lib build/dist/ipsw download ipsw --show-latest --insecure)

      - name: Run Extract Remote Kernelcache
        if: matrix.platform == 'ubuntu-latest'
        run: |
          LD_LIBRARY_PATH=/usr/local/lib build/dist/ipsw -V download ipsw --kernel --latest -d iPhone12,1
          LD_LIBRARY_PATH=/usr/local/lib build/dist/ipsw -V macho info */kernelcache*

      - name: Make cache folder
        if: matrix.platform == 'macos-12'
        run: mkdir -p ~/.ipsw

      #
      # DOWNLOAD CMD (macOS)
      #
      - name: Run Extract ALL Remote Kernelcaches
        if: matrix.platform == 'macos-12'
        run: |
          LD_LIBRARY_PATH=/usr/local/lib build/dist/ipsw download ipsw --kernel --latest -d iPhone12,1 --insecure
          LD_LIBRARY_PATH=/usr/local/lib build/dist/ipsw -V macho info */kernelcache*
      - name: Run download latest
        if: matrix.platform == 'macos-12' && steps.cache-ipsws.outputs.cache-hit != 'true'
        run: |
          export PATH=$PWD/build/dist:$PATH
          cd ~/.ipsw && LD_LIBRARY_PATH=/usr/local/lib ipsw download ipsw --latest --device iPhone12,1 --confirm
      - name: Run download pattern
        if: matrix.platform == 'macos-12' && steps.cache-ipsws.outputs.cache-hit != 'true'
        run: |
          export PATH=$PWD/build/dist:$PATH
          cd ~/.ipsw && LD_LIBRARY_PATH=/usr/local/lib ipsw download ipsw -d iPhone14,2 --latest --pattern iBoot --confirm
      - name: Run download beta OTA kernelcache
        if: matrix.platform == 'macos-12' && steps.cache-ipsws.outputs.cache-hit != 'true'
        run: |
          export PATH=$PWD/build/dist:$PATH
          cd ~/.ipsw && LD_LIBRARY_PATH=/usr/local/lib ipsw download ota --platform ios --device iPhone12,3 --beta --kernel
      - name: Run download oss
        if: matrix.platform == 'macos-12' && steps.cache-ipsws.outputs.cache-hit != 'true'
        run: |
          export PATH=$PWD/build/dist:$PATH
          cd ~/.ipsw && LD_LIBRARY_PATH=/usr/local/lib ipsw download oss --macos 11.5
      - name: Run download tss
        if: matrix.platform == 'macos-12' && steps.cache-ipsws.outputs.cache-hit != 'true'
        run: |
          export PATH=$PWD/build/dist:$PATH
          cd ~/.ipsw && LD_LIBRARY_PATH=/usr/local/lib ipsw download tss --signed 15.1
      - name: Run download rss
        if: matrix.platform == 'macos-12' && steps.cache-ipsws.outputs.cache-hit != 'true'
        run: |
          export PATH=$PWD/build/dist:$PATH
          cd ~/.ipsw && LD_LIBRARY_PATH=/usr/local/lib ipsw download rss
      #
      # EXTRACT CMD (macOS)
      #
      - name: Run extract - (kernel, dsc and dtree)
        if: matrix.platform == 'macos-12'
        run: |
          export PATH=$PWD/build/dist:$PATH
          cd ~/.ipsw && LD_LIBRARY_PATH=/usr/local/lib ipsw extract --kernel --dyld --dtree *.ipsw
      # - name: Run extract BETA - (kernel, dsc and dtree)
      #   if: matrix.platform == 'macos-12'
      #   run: |
      #     export PATH=$PWD/build/dist:$PATH
      #     cd ~/.ipsw && LD_LIBRARY_PATH=/usr/local/lib ipsw extract --kernel --dyld --dtree ~/beta/beta.ipsw
      #     tree ~/.ipsw
      #
      # KERNEL CMD (macOS)
      #
      - name: Run kernel kexts
        if: matrix.platform == 'macos-12'
        run: |
          export PATH=$PWD/build/dist:$PATH        
          cd ~/.ipsw && ipsw kernel kexts */kernelcache.release.*
      - name: Run kernel sbopts
        if: matrix.platform == 'macos-12'
        run: |
          export PATH=$PWD/build/dist:$PATH        
          cd ~/.ipsw && ipsw kernel sbopts */kernelcache.release.*
      #
      # DYLD CMD (macOS)
      #
      - name: Run dyld info
        if: matrix.platform == 'macos-12'
        run: |
          export PATH=$PWD/build/dist:$PATH           
          LD_LIBRARY_PATH=/usr/local/lib ipsw dyld info ~/.ipsw/*/dyld_shared_cache_arm64e
          LD_LIBRARY_PATH=/usr/local/lib ipsw dyld info ~/.ipsw/*/dyld_shared_cache_arm64e --dylibs
          LD_LIBRARY_PATH=/usr/local/lib ipsw dyld info ~/.ipsw/*/dyld_shared_cache_arm64e --dylibs --sig -V
          LD_LIBRARY_PATH=/usr/local/lib ipsw dyld info ~/.ipsw/*/dyld_shared_cache_arm64e --dylibs --sig --json

      - name: Run dyld symaddr (img)
        if: matrix.platform == 'macos-12'
        run: |
          LD_LIBRARY_PATH=/usr/local/lib build/dist/ipsw dyld symaddr ~/.ipsw/*/dyld_shared_cache_arm64e --image libsystem_c.dylib
      - name: Run dyld symaddr (sym)
        if: matrix.platform == 'macos-12'
        run: |
          LD_LIBRARY_PATH=/usr/local/lib build/dist/ipsw dyld symaddr ~/.ipsw/*/dyld_shared_cache_arm64e _memcpy
      - name: Run dyld symaddr (img+sym)
        if: matrix.platform == 'macos-12'
        run: |
          LD_LIBRARY_PATH=/usr/local/lib build/dist/ipsw dyld symaddr ~/.ipsw/*/dyld_shared_cache_arm64e --image libsystem_c.dylib _memcpy
      - name: Run dyld symaddr (JSON)
        if: matrix.platform == 'macos-12'
        run: |
          echo '[{"regex":".*zero.*", "image":"libsystem_c.dylib"}]' > ~/.ipsw/dyld_symaddr.json
          LD_LIBRARY_PATH=/usr/local/lib build/dist/ipsw dyld symaddr ~/.ipsw/*/dyld_shared_cache_arm64e --in ~/.ipsw/dyld_symaddr.json
      # - name: Run dyld symaddr (ALL)
      #   if: matrix.platform == 'macos-12'
      #   run: |
      #     LD_LIBRARY_PATH=/usr/local/lib build/dist/ipsw dyld symaddr ~/.ipsw/*/dyld_shared_cache_arm64e | grep _memcpy

      - name: Run dyld macho
        if: matrix.platform == 'macos-12'
        run: |
          LD_LIBRARY_PATH=/usr/local/lib build/dist/ipsw dyld macho ~/.ipsw/*/dyld_shared_cache_arm64e JavaScriptCore --loads --objc --objc-refs --strings --symbols --starts --stubs -V
      - name: Run dyld macho (extract)
        if: matrix.platform == 'macos-12'
        run: |
          LD_LIBRARY_PATH=/usr/local/lib build/dist/ipsw dyld macho ~/.ipsw/*/dyld_shared_cache_arm64e JavaScriptCore --extract

      - name: Run dyld webkit
        if: matrix.platform == 'macos-12'
        run: |
          LD_LIBRARY_PATH=/usr/local/lib build/dist/ipsw dyld webkit ~/.ipsw/*/dyld_shared_cache_arm64e --git --api ${{ secrets.GITHUB_TOKEN }}

      # - name: Run dyld slide
      #   if: matrix.platform == 'macos-12'
      #   run: |
      #     LD_LIBRARY_PATH=/usr/local/lib build/dist/ipsw dyld slide ~/.ipsw/*/dyld_shared_cache_arm64e --auth

      - name: Run dyld patches
        if: matrix.platform == 'macos-12'
        run: |
          LD_LIBRARY_PATH=/usr/local/lib build/dist/ipsw dyld patches ~/.ipsw/*/dyld_shared_cache_arm64e

      - name: Run dyld imports
        if: matrix.platform == 'macos-12'
        run: |
          LD_LIBRARY_PATH=/usr/local/lib build/dist/ipsw dyld imports ~/.ipsw/*/dyld_shared_cache_arm64e JavaScriptCore

      - name: Run dyld disass
        if: matrix.platform == 'macos-12'
        run: |
          LD_LIBRARY_PATH=/usr/local/lib build/dist/ipsw dyld disass ~/.ipsw/*/dyld_shared_cache_arm64e --demangle --symbol _NSLog

      - name: Run dyld objc sel --image
        if: matrix.platform == 'macos-12'
        run: |
          LD_LIBRARY_PATH=/usr/local/lib build/dist/ipsw dyld objc sel ~/.ipsw/*/dyld_shared_cache_arm64e --image JavaScriptCore
      - name: Run dyld objc --class
        if: matrix.platform == 'macos-12'
        run: |
          LD_LIBRARY_PATH=/usr/local/lib build/dist/ipsw dyld objc --class ~/.ipsw/*/dyld_shared_cache_arm64e
      # - name: Run dyld objc --imp-cache
      #   if: matrix.platform == 'macos-12'
      #   run: |
      #     LD_LIBRARY_PATH=/usr/local/lib build/dist/ipsw dyld objc --imp-cache ~/.ipsw/*/dyld_shared_cache_arm64e
      - name: Run dyld objc --proto
        if: matrix.platform == 'macos-12'
        run: |
          LD_LIBRARY_PATH=/usr/local/lib build/dist/ipsw dyld objc --proto ~/.ipsw/*/dyld_shared_cache_arm64e

      - name: Run dyld split
        if: matrix.platform == 'macos-12'
        run: |
          export PATH=$PWD/build/dist:$PATH
          cd ~/.ipsw && LD_LIBRARY_PATH=/usr/local/lib ipsw dyld split --xcode /Applications/Xcode_13.4.1.app ~/.ipsw/*/dyld_shared_cache_arm64e ~/.ipsw
          tree ~/.ipsw
      #
      # MACHO CMD (macOS)
      #
      - name: Run macho
        if: matrix.platform == 'macos-12'
        run: |
          export PATH=$PWD/build/dist:$PATH
          cd ~/.ipsw && LD_LIBRARY_PATH=/usr/local/lib ipsw macho info ~/.ipsw/System/Library/Frameworks/JavaScriptCore.framework/JavaScriptCore --ent --header --loads --starts --strings --symbols
      # #
      # # ENT CMD (macOS)
      # #
      # - name: Run ents
      #   if: matrix.platform == 'macos-12'
      #   run: |
      #     export PATH=$PWD/build/dist:$PATH
      #     cd ~/.ipsw && LD_LIBRARY_PATH=/usr/local/lib ipsw ent *.ipsw --ent platform-application
      #
      # INFO CMD (macOS)
      #
      - name: Run info
        if: matrix.platform == 'macos-12'
        run: |
          export PATH=$PWD/build/dist:$PATH
          cd ~/.ipsw && LD_LIBRARY_PATH=/usr/local/lib ipsw info *.ipsw
        #  cd ~/.ipsw && LD_LIBRARY_PATH=/usr/local/lib ipsw info ~/beta/beta.ipsw
      #
      # UPDATE CMD (macOS)
      #
      - name: Run ipsw update
        if: matrix.platform == 'macos-12'
        run: |
          export PATH=$PWD/build/dist:$PATH
          cd ~/.ipsw && LD_LIBRARY_PATH=/usr/local/lib ipsw update --platform windows_x86_64 -V --api ${{ secrets.GITHUB_TOKEN }}
          cd ~/.ipsw && LD_LIBRARY_PATH=/usr/local/lib ipsw update --detect --api ${{ secrets.GITHUB_TOKEN }}

      - uses: actions/upload-artifact@v3
        with:
          name: Releases
          path: build/dist/
