name: "WebKitMETA"

on:
  push:
    branches: [master]
  pull_request:
    # The branches below must be a subset of the branches above
    branches: [master]
  schedule:
    - cron: "00 01,13 * * *"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Setup Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.19
      - name: Cache go.mod
        uses: actions/cache@v3
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-
      - name: Run build
        run: |
          make build
      - name: Run download git --json --webkit
        run: ./ipsw download git --json --api ${{ secrets.GITHUB_TOKEN }} --output /tmp --webkit
      - name: Switch branch
        run: |
          git stash
          git checkout apple_meta
      - name: Commit WebKit JSON
        run: |
          go install github.com/josephburnett/jd@v1.5.1
          jd -set /tmp/webkit_tags.json github/webkit_tags.json || true
          mv /tmp/webkit_tags.json github/webkit_tags.json
          git --no-pager diff github/webkit_tags.json
          git config --local user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
          git commit -am "AppleMETA WebKit refresh"
          git push
